:root {
    --poster-color: #BC1A26;
    --plyr-video-background: #BC1A26;
    --plyr-color-main: rgba(0,0,0,0.5);

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #7f7f7f;
}

h1 {
    user-select: none;
    /* Prevent text selection */
    cursor: default;
    /* Set the cursor to the default (normal) */
}

#snow {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1001;
   }

.container {
    display: none;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    min-height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    color: #7f7f7f;
    transition: all 1s ease-in-out;
}


.emoji {
    font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', 'Android Emoji', 'EmojiSymbols', sans-serif;
}

.videoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

#video-frame {
    z-index: 1001;
    width: 70vw;
}

h1 {
    margin: 20px 0;
    align-self: center;
    font-weight: 100;
    font-size: 16px;
}


#videoPlayer {
    display: block;
    max-width: 100%;

    background-color: var(--poster-color);
    object-fit: cover;
    /* clip-path: inset(0% 0% 0% 0% round 7px); */
    /* border-radius: 7px; */
    /* box-shadow : 8px 8px 20px rgba( 0, 0, 0, 0.8 ); */


}

.date-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#dateInput {
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
}

#dayCount {
    font-size: 16px;
    margin-top: 1px;
}

.timer-container {
    display: none;
    text-align: center;
    padding: 20px;
}

#countdown-timer {
    font-size: 48px;
    margin-top: 20px;
}

#chunkSelector {
    color: transparent;
    background-color: #1a1a1a;
    width: 60px;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    border: none;
    text-align: right;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiI+PHN3aXRjaD48Zz48cGF0aCBmaWxsPSIjOUM5QjlCIiBkPSJNNi4zMDcgMTAuNjY1bC01LjItNi4wODggMS4wOTYtLjkzNSA0LjA1NyA0Ljc1IDMuNzkxLTQuODMzIDEuMTM1Ljg4OHoiLz48L2c+PC9zd2l0Y2g+PC9zdmc+"); */
    background-repeat: no-repeat;
    background-position: 99% .5em;
    z-index: 2;
}

.selectContainer {
    display: flex;
    margin: 20px 0;
    position: relative;
    justify-content: center;
    align-items: center;
    word-spacing: -3.4px;

}

.numberDisplay {
    margin-right: -57px;
    font-size: 16px;
    margin-top: 1px;
    text-align: right;
    z-index: 1;
}


option {
    background-color: #1a1a1a;
    color: #7f7f7f;
    text-align: left;
    font-size: 16px;
}

#d20RollerVideo {
    display: none;
    z-index: 999;
    position: absolute;
    top: -20px;
    width: 100%;
    max-width:100%;  /* added */
    height: 80vw;
    max-height: 80%;
    width: 60vw;
    /* Set the width to 100% of the viewport width */
    height: auto;
    object-fit: cover;
    transition: opacity 2s ease;
    /* Fade out over 1 second */
}


.hidden {
    opacity: 0;
    /* Fully transparent */
    pointer-events: none;
    /* Prevent interactions when hidden */
}

.unhidden {
    opacity: 1;
    pointer-events: auto;
}

.poster-section {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    z-index: 200;
}

.poster-container {
    position: relative;
}


.poster-image {
    max-height: 80vh;
    max-width: 40vw;
    margin: 3vw;
    object-fit: contain;
    position: relative;

}

.winner {
    transition: all 1s ease-in-out;
    z-index: 999;
}

.fade-out-fast {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-out-slow {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#roll-button{
    background: url(images/d20.png);
    background-size: contain;
    width: 4vw;
    height: 4vw;
    font-size: 0.9vw;
    font-weight: 900;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.rolled {
    transform-origin: center;
    transition: all 1s ease-in-out;
    transform: translate(0, -20px);;
    opacity: 0;
}

#todays-poster-container {
    margin-top: 35px;
    width: 70vw;
}

#todays-poster {
    /* border-radius: 12px; */
    width: 100%;
    height: auto;
    object-fit: contain;
}

#top-bar {
    width: 70vw;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 768px) {
    #d20RollerVideo {
        width: 150vw;
        left: -35vw;
        max-width: 300vw;  /* added */
        height: 80vw;
        max-height: 300vw;
        height: auto;
        overflow: hidden;
    }

    #roll-button {
        width: 4vh;
        height: 4vh;
        font-size: 2vw;
    }
}

#sonic {
    display: none;
    position: absolute;
    left: 100%;
    transition: left ease-in-out 3s;
    z-index: 1000;
}

.animate {
    animation: slide 5s linear forwards;
}

@keyframes slide {
    from {
        left: 100%;
    }
    to {
        left: -130%;
    }
}

